body {
    @include margin(30px 50px);
    background-color: $white;
    box-sizing: border-box;
    font-family: $font;
}

p {
    color: $gray;
}

*,
*::after,
*::before {
    box-sizing: initial;
}

.big-info {

    @include padding(null null 15px null);
    display: inline-block;
    
    p {
        @include margin(0);
        color: $green;
        font-size: 25px;
        line-height: 40px;

        @include tablet {
            float: right;
            width: 90%;
        }

    }

    div {

        display: none;

        @include tablet {
            background-color: $green;
            display: inline-block;
            height: 2px;
            position: relative;
            top: 17px;
            width: 5%;
        }

    }

}

.center {
    text-align: center;
}

.section {
    
    color: $dark;

    @include tablet {
        .grid {
            display: grid;
            grid-template-columns: 80% 20%;    // scss-lint:disable PropertySpelling
        }
    }

    @include desktop {
        .grid {
            display: grid;
            grid-template-columns: 70% 30%;    // scss-lint:disable PropertySpelling
        }
    }

    a {
        color: $cyan;
    }

    .subtitle {
        color: $cyan;
        font-weight: normal;
        text-transform: uppercase;
    }

    .title {
        font-size: 20px;
        font-weight: bold;
    }

    p {
        @include padding(null null 7px null);
        line-height: 30px;
    }
    
    .image {
        background: url('../images/car.png') no-repeat center/contain;
        grid-column-start: 2;    // scss-lint:disable PropertySpelling
        grid-row-end: 3;    // scss-lint:disable PropertySpelling
        grid-row-start: 1;    // scss-lint:disable PropertySpelling
        padding-top: 100%;
    }

    .grid {
        grid-column-gap: 20px;    // scss-lint:disable PropertySpelling
    }

}

ul {

    color: $gray;
    font-weight: bold;

    li {
        @include padding(null null 10px null);
    }

}

.icon-grid {
    color: $gray;
    text-align: center;
    
    @include tablet {
        display: grid;
        grid-template-areas: "div1 div3 div4"
                             "div2 div3 div4";
        grid-template-columns: 2fr 1fr 1fr;    // scss-lint:disable PropertySpelling, PropertyUnits
        text-align: initial;
        width: 90%;

        div {
            position: relative;
        }
        
        @for $i from 1 to 5 {
            div:nth-child(#{$i}) {
                grid-area: #{'div' + $i};
            }
        }
    
        > div:nth-child(-n+2) {
            .text {
                @include margin(null null null 90px);
            }
        }

        > div:nth-last-child(-n+2) {
            text-align: center;
        }

        > div:nth-child(1) {
            .icon {
                float: left;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        > div:nth-child(2) {
            .icon {
                float: left;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    h4 {
        text-transform: uppercase;
    }

}

.columns {
    @include desktop {
        display: flex;

        > div {
            @include padding(null 40px null null);
            flex: 1;
        }
    }
}

.table {
    border-right: 2px solid $lgray !important;    // scss-lint:disable ImportantRule
    border-top: 2px solid $lgray !important;    // scss-lint:disable ImportantRule
    color: $gray;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;    // scss-lint:disable PropertySpelling, PropertyUnits
    min-width: 600px;
    text-align: center;

    img {
        @include size(15px);
        @include margin(null 10px null null);
        display: inline;
    }

    > div:nth-child(-n+4) {
        background-color: $llgray;
        font-size: 15px;
        font-weight: bold;
        text-transform: uppercase;
    }

    > div:nth-child(4n + 1) {
        text-align: left;
    }

    > div {
        @include padding(30px);
        border-bottom: 2px solid $lgray;
        border-left: 2px solid $lgray;
    }
}

.icon {

    &.check {
        @include size(15px);
        background-image: url($icon-check) no-repeat;
        display: inline-block;
        padding-right: 5px;
    }

    &.email {
        @include myicon($icon-email, $jblue, 60px);
    }

    &.cart {
        @include myicon($icon-cart, $jblue, 60px);
    }

}
