.page-header {
    @include padding(20px null null null);
    @include position(fixed, 0 null null null);
    background: $white;
    left: 50%;
    transform: translate(-50%);
    transition: top 1.2s;
    width: 100%;
    z-index: 100;
}


.sections.nav-sections {
    @include margin(170px null null null);
}

.page-wrapper.scroll-closed {
    .block.block-search {
        @include margin(-5px null null null);
        float: right;

        .control {
            @include padding(null null 0 null); // scss-lint:disable ImportantRule
        }

        .nested {
            display: none !important; // scss-lint:disable ImportantRule
        }
    }

    .panel.header > .logo {
        @include margin(-6px 20px 0 0);
        width: 100px;
    }

    .page-header {
        top: -43px;
    }
    
    .action.showcart {
        display: none;
    }
    
}
