$icon-email: '../icons/email.svg';
$icon-cart: '../icons/cart.svg';
$icon-check: '../icons/checked.svg';
$icon-next: '../icons/next.svg';
$icon-back: '../icons/back.svg';

@mixin myicon($name, $color, $size) {
    width: $size;
    height: $size;
    background-color: $color;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    
    &::after {
        @include size($size * .6);
        background: url($name) no-repeat 0 0/contain;
        content: '';
        display: inline-block;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}
