// Colors
$white: #fff;
$lblue: #cddaf0;
$jblue: #003187;
$dark: #373b42;
$copy: #46536c;
$green: #85b73c;
$orange: #f47b20;
$gray: #808080;
$cyan: #00b7ff;
$lgray: #dce3ec;
$llgray: #eef3f5;
$red: #f53230;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
$font: 'Open Sans', Helvetica, Arial, sans-serif;

// Breakpoints
$bp-tablet: 800px;
$bp-desktop: 1200px;

// Slick
$slick-dot-size: 10px;
