<div class="big-info">
    <div>&nbsp;</div>
    <p>SAT ipsum dolor sit amet consectetur adipisicing elit. Quidem laborum, ad quibusdam doloremque commodi inventore quis voluptates odit aspernatur doloribus, provident natus error. Officia tempora cum architecto minima delectus quisquam!</p>
</div>

<div class="section">
    <h2 class="title">Courier Delivery Service</h2>
    <div class="grid">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium fuga ipsa officiis nihil vero aperiam possimus praesentium, assumenda animi, totam reiciendis deserunt doloribus dolorem porro minus. Sint ex quis, ipsam officia quidem rerum sunt in doloremque eligendi est ut natus aperiam ullam enim fuga illo nesciunt necessitatibus modi totam velit voluptatem maiores vitae. Corporis, doloremque reprehenderit. Enim, id rerum? Enim!</p>
        <div class="image"></div>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum, <a href="www.test.com">www.test.com</a> accusamus eaque! Deserunt nulla sunt dicta eos perspiciatis iste saepe facilis! Doloremque nam corrupti dolore pariatur vitae, esse veniam non error?</p>
    </div>
</div>

<div class="section">
    <h2 class="title">Local Delivery Service</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis doloribus nemo distinctio, non fugiat laboriosam dolorum fuga deleniti sed nesciunt.</p>
    <ul>
        <li>The best shipping company in the world</li>
        <li>Another bullet point</li>
        <li>The third example</li>
    </ul>
</div>

<div class="icon-grid">
    <div>
        <div class="icon email"></div>
        <div class="text">
            <h4>Lorem ipsum dolor</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing.</p>
        </div>
    </div>
    <div>
        <div class="icon cart"></div>
        <div class="text">
            <h4>Lorem ipsum dolor</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing.</p>
        </div>
    </div>
    <div>
        <div class="icon email"></div>
        <div class="text">
            <h4>Lorem ipsum dolor</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing.</p>
        </div>
    </div>
    <div>
        <div class="icon cart"></div>
        <div class="text">
            <h4>Lorem ipsum dolor</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing.</p>
        </div>
    </div>
</div>

<div class="columns">
    <div class="section">
        <h2 class="title">Half column</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius laborum doloremque, voluptates officia architecto accusamus commodi ducimus officiis repudiandae obcaecati excepturi quos possimus? Non est facere dolorem veritatis nam inventore doloribus rerum error dicta, dolores eligendi cumque accusantium, dignissimos explicabo assumenda repellendus, dolorum saepe qui. A hic animi nulla deleniti.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, cupiditate aliquid! Consectetur commodi animi voluptas dicta nobis nostrum, repudiandae placeat molestias deleniti facere, non repellendus quos vero corporis sit dolor.</p>
    </div>
    <div class="section">
        <h2 class="title">Half column</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius laborum doloremque, voluptates officia architecto accusamus commodi ducimus officiis repudiandae obcaecati excepturi quos possimus? Non est facere dolorem veritatis nam inventore doloribus rerum error dicta, dolores eligendi cumque accusantium, dignissimos explicabo assumenda repellendus, dolorum saepe qui. A hic animi nulla deleniti.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, cupiditate aliquid! Consectetur commodi animi voluptas dicta nobis nostrum, repudiandae placeat molestias deleniti facere, non repellendus quos vero corporis sit dolor.</p>
    </div>
</div>

<div class="section">
    <h2 class="title">Full column</h2>
    <h3 class="subtitle">h3 subtitle</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, cupiditate aliquid! Consectetur commodi animi voluptas dicta nobis nostrum, repudiandae placeat molestias deleniti facere, non repellendus quos vero corporis sit dolor.</p>
</div>

<div class="table">

    <div></div>
    <div>column 1</div>
    <div>second column</div>
    <div>the third column</div>

    <div>Row title<br>two lines</div>
    <div>Text in center of cell</div>
    <div>Secon row example</div>
    <div>Last column rows</div>

    <div>Small row title</div>
    <div>Lorem ipsum dolor sit amet.</div>
    <div>Lorem.</div>
    <div><div class="icon check"></div>Integrated</div>

    <div>Small row title</div>
    <div>Lorem ipsum dolor sit amet.</div>
    <div><div class="icon check"></div>Yes</div>
    <div></div>

    <div>Row title<br>in three<br>lines</div>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos provident laudantium libero delectus. Saepe, corrupti.</div>
    <div>second column</div>
    <div>the third column</div>

</div>