//Elements

.slider-element {
    border: 1px solid $lgray;
    border-radius: 5px;
    overflow: hidden;
    @include margin(0 10px);
    padding-bottom: 10px;

    a {
        @include size(100%);
        display: inline-block;
    }

    img {
        width: 100%;
    }

    .info {
        @include padding(0 20px);
    }

    .name {
        color: $dark;
        @include margin(9px auto);
        font-size: 16px;
    }

    p {
        @include margin(6px auto);
    }

    .price {
        color: $gray;
        font-weight: bold;
        font-size: 17px;
    }

    .stock {
        font-variant: small-caps;
        font-weight: bold;
        font-size: 16px;

        &.in-stock {
            color: $green;

            &::before {
                background: $green;
            }

        }
        &.out-stock {
            color: $red;

            &::before {
                background: $red;
            }

        }

        &::before {
            display: inline-block;
            @include size(16px);
            content: '';
            border-radius: 50%;
            margin-right: 8px;
            vertical-align: middle;
        }

    }

}

/* Slider */

.slick-slider {
    :active {
        box-shadow: none;
    }

    :hover {
        text-decoration: none;
    }
}

/* Arrows */

.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    height: 60px;
    width: 50px;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: none;
    color: transparent;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: none;
    &:hover, &:focus {
        outline: none;
        border: none;
        background: transparent;
        color: transparent;
        &:before {
            opacity: initial;
        }
    }
    &.slick-disabled:before {
        opacity: initial;
    }
    &:before {
        font-size: initial;
        line-height: initial;
        color: initial;
        opacity: initial;
    }
}

.slick-prev,
.slick-prev:hover {
    left: -40px;
    background: url($icon-back) no-repeat center/contain transparent !important;
    [dir="rtl"] & {
        left: auto;
        right: -25px;
    }
    &:before {
        content: none;
        [dir="rtl"] & {
            content: none;
        }
    }
}

.slick-next,
.slick-next:hover {
    right: -40px;
    background: url($icon-next) no-repeat center/contain transparent !important;
    [dir="rtl"] & {
        left: -25px;
        right: auto;
    }
    &:before {
        content: none;
        [dir="rtl"] & {
            content: none;
        }
    }
}

/* Dots */

.slick-dotted.slick-slider {
    margin-bottom: 50px;
}

.slick-dots {
    bottom: -40px;
    li {
        button {
            &:before {
                font-size: $slick-dot-size;
            }
        }
    }
}