<?php
    $items = $block->getItems();
    $i = 0;
?>

<h2 class="center">Related Products</h2>
<div data-mage-init='{"callSlick":"{}"}'>
    <?php foreach ($items as $item): $i++; ?>
        <div class="slider-element">
            <a href="<?= $item->getProductUrl(); ?>">
                <img src="<?= $block->getImage($item, 'related_products_list')->getImageUrl(); ?>">
                <div class="info">
                    <h4 class="name"><?= $item->getName(); ?></h4>
                    <p class="price">$<?= $item->getFinalPrice(); ?></p>
                    <?php if( $item->isAvailable() ): ?>
                        <p class="stock in-stock">in stock</p>
                    <?php else: ?>
                        <p class="stock out-stock">out of stock</p>
                    <?php endif; ?>
                </div>
            </a>
        </div>
    <?php if($i >= 10) break; endforeach; ?>
</div>